
<h3>作品画像</h3>
<% if @post.image.attached? %>
        <%= image_tag @post.image ,size: "150x250" %>
        <% end %>

<h3>タイトル</h3>
<%= @post.post_name %>
<h3>作品紹介</h3>
<%= @post.introduction %>



<h3>コメント投稿一覧</h3>

<%= form_with model:@comment do |f| %>
<table>
<tr>

<div class="field">
<th><%=f.label :comment,"作品へのコメント入力"%></th>
<td><%=f.text_area :comment,placeholder:"コメントを入力" %></td>
</div>
</tr>
</table>
<%= f.hidden_field :post_id, value: @post.id %>
<div>
<ul>
<li><%=f.submit"確認画面へ"%></li>
</ul>
<%end%>


 <div>
   <ul>
     <li><%= link_to "ユーザー情報一覧に戻る", :posts %></li>
   </ul>
 </div>

