<!DOCTYPE html>
<html>
  <head>
    <title>Art5 ポートフォリオ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>
  <h1>作品投稿サイト</h1>
  <ul class="list_navi">
<li class="menu_li"><%= link_to "作品登録", new_post_path %></li>
<li class="menu_li"><%= link_to "作品登録一覧", posts_path %></li>
<li class="menu_li"><%= link_to "コメント一覧",displays_path%></li>

<li class="menu_li"><%= link_to "ログアウト",pages_home_path, method: :delete %></li>

</ul>

  </header>
    <%= yield %>
  </body>
</html>
