<!DOCTYPE html>
<html>
  <head>
    <title>Art5 ポートフォリオ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <header class="color">
  <h1>作品投稿サイト</h1>
  <ul class="list_navi">
<li><%= link_to "作品登録", new_post_path,class:"menu_li" %></li>
<li><%= link_to "作品登録一覧", posts_path,class:"menu_li" %></li>
<li><%= link_to "コメント一覧",comments_path,class:"menu_li" %></li>

<li><%= link_to "ログアウト",destroy_user_session_path, method: :delete ,class:"menu_li" %></li>

 </ul>

  </header>
    <%= yield %>
  </body>

  <footer>
  2023/ポートフォリオ
  </footer>
</html>
